extends layout

block content
  .container

    h1 Admin Console: Orders
    if orders.length
      div#stats
        div.span5
          h3 Pending Orders (#{pending} of #{total})
          p Orders pending completion
          div.progress.progress-striped.progress-warning.active
            div.bar(style="width: #{pending_percentage}%;")
        div.span5
          h3 Completed Orders (#{complete} of #{total})
          p Orders that have shipped
          div.progress.progress-striped.progress-success.active
            div.bar(style="width: #{complete_percentage}%;")

      table.table#orders
        thead
          tr
            th Email
            th Total
            th Product Count
            th Status
            th 
        tbody
        each o in orders
          tr
            td= o.email
            td $#{o.total_price}
            td= o.products.length
            td= o.status
            if(o.status === 'pending')
              td.actions: form(method='post', action='/admin')
                input(type='hidden', id='order_id', name='order_id', value="#{o._id}")
                input.btn.btn-success(type='submit', value='Mark Complete')

    else
      p: No orders have been received