extends layout

block content
  .container
  
    h1 Admin Console: Orders
    ul
      for o in orders
        form(method='post', action='/admin')
          input(type='hidden', id='order_id', name='order_id', value="#{o._id}")
          li: dl
            dd.email= o.email
            dd.total_price= o.total_price
            dd.product_count= o.products.length
            dd.status= o.status
            - if(o.status === 'pending')
                dd.mark_complete: input.btn.btn-success(type='submit', value='Mark Complete')