extends layout

block content
  .container
  
    h1 Admin Console: Orders
    if orders.length
      table#orders
        thead
          tr
            th Email
            th Total
            th Product Count
            th Status
            th 
        tbody
        each o in orders
          tr
            td= o.email
            td $#{o.total_price}
            td= o.products.length
            td= o.status
            if(o.status === 'pending')
              td: form(method='post', action='/admin')
                input(type='hidden', id='order_id', name='order_id', value="#{o._id}")
                input.btn.btn-success(type='submit', value='Mark Complete')
    else
      p: No orders have been received