extends layout

block content
  .container

    h2= product.name

    dl
      dd: img(src=product.image)
      dt Name
      dd= product.name
      dt Price
      dd= product.price
      dt Description
      dd= product.description

    form(action='/cart/#{product._id}', method='POST')
      input(type='submit', value='Add To Cart')
