extends layout

block content
  .container

    h2= product.name

    dl#product
      dd.image: img(src=product.image)
      dt Name
      dd= product.name
      dt Price
      dd $#{(product.price * 1).toFixed(2)}
      dt Description
      dd= product.description
      dd: form(action='/cart/#{product._id}', method='POST')
        input.btn.btn-success(type='submit', value='Add To Cart')
        a.btn(href='/') Continue Shopping
