extends layout

block content
  .container

    ul
      for p in products
        li: dl
          dd.image: a(href='/products/#{p._id}'): img(src=p.image, style='width: 120px')
          dd.name: a(href='/products/#{p._id}')= p.name
          dd.price= p.price
          dd.description= p.description
